 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Fermi_144-month_Fermi_all-sky_hammer_2160x1080.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-text-1 {
  margin: 219px auto 0 141px;
}

.u-section-1 .u-text-2 {
  margin: 84px 208px 60px 141px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 89px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 623px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 598px;
  margin: 16px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 303px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: auto;
  background-image: url("images/phd-student-high-energy-particle-physics-the-university-monash-offering-individualized-tutoring-for-vce-physics-and.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 303px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-social-icons-1 {
  height: 78px;
  min-height: 16px;
  width: 166px;
  min-width: 42px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 29px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  width: 735px;
  margin: 50px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}

.u-section-2 .u-social-icons-1,
.u-section-2 .u-social-icons-1:before,
.u-section-2 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-2 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2345px;
}

.u-section-3 .u-text-1 {
  width: 890px;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 14px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 890px;
  margin: 32px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 2083px;
  height: auto;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  width: 890px;
  margin: 22px auto 32px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -19px;
}

.u-section-3 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 55px 0;
}

.u-section-3 .u-image-1 {
  height: 366px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 544px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 0 45px;
}

.u-section-3 .u-image-2 {
  height: 503px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 22px 115px 0 60px;
}

.u-section-3 .u-text-6 {
  margin: 20px 60px 0;
}

.u-section-3 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  line-height: 2.2;
  margin: 625px 59px 0 57px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -1351px;
  margin-bottom: 164px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1217px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 517px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  margin: 14px 102px 0 58px;
}

.u-section-3 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  height: 411px;
  width: 980px;
  margin: 62px -45px 0;
}

.u-section-3 .u-text-9 {
  margin: 8px 40px 0 54px;
}

.u-section-3 .u-text-10 {
  margin: 20px 62px 0;
}

.u-section-3 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 40px 0 45px;
}

.u-section-3 .u-image-5 {
  height: 559px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  margin: 14px 101px 0 59px;
}

.u-section-3 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-image-6 {
  height: 343px;
  width: 570px;
  margin: 57px -193px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 388px;
  height: 344px;
  margin: -343px auto 0 0;
}

.u-section-3 .u-text-12 {
  margin: 31px 221px 0 57px;
}

.u-section-3 .u-text-13 {
  margin-left: 57px;
  margin-right: 221px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-image-8 {
  height: 420px;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-text-14 {
  margin: 32px 90px 0 45px;
}

.u-section-3 .u-text-15 {
  margin-left: 45px;
  margin-right: 90px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2025px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 344px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-3 .u-image-3 {
    height: 426px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    inset: auto;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    inset: auto;
  }

  .u-section-3 .u-text-12 {
    margin-right: 78px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 78px;
  }

  .u-section-3 .u-image-8 {
    height: 442px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1793px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 1974px;
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 174px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 85px 30px 80px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 326px;
  }

  .u-section-3 .u-image-4 {
    height: 302px;
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 30px 80px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    height: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1547px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 1899px;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 34px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 75px;
    padding-right: 75px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 245px;
  }

  .u-section-3 .u-image-4 {
    height: 227px;
    width: 540px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 1718px;
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 154px;
  }

  .u-section-3 .u-image-4 {
    height: 143px;
    width: 340px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 205px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    width: 340px;
    height: 301px;
    margin-top: -354px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 740px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 547px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 547px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 1px 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 0 29px 0 0;
}

.u-section-4 .u-text-3 {
  margin: -25px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -272px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -284px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -322px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 230px;
}

.u-section-5 .u-list-1 {
  grid-auto-rows: 100%;
  width: 1140px;
  margin: 40px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 190px;
  grid-gap: 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1132px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 157px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1281px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 361px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1368px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1328px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }
}